* {
    /* reset.css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.targetflix {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #141414;
}

header {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header h1 {
    color: red;
    text-transform: uppercase;
    letter-spacing: 1px;
}
header .right {
    display: flex;
    align-items: center;
}
header .right a {
    text-decoration: none;
    color: #fff;
    margin-left: 5px;

}
main {
    padding: 20px;
}
main section h1 {
    color: white;
    margin-bottom: 10px;
}
main section {
    margin-bottom: 10px;
}
main section .movie-card {
    border: 0px solid #fff;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    display: inline-block;
    height: 120px;
    width: 200px;
    background-size: 100% 100%;
    margin-right: 10px;
    transition: ease-in all 0.2s;
}
main section .movie-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}
main section .movie-card h2 {
    font-size: 16px;
}
.movie-details {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    background: #e3e3e3;
    padding: 10px;
    overflow-y: auto;
}
.movie-details .movie-image {
    height: 140px;
    width: 100%;
}
.movie-details .actor-picture {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
